<section class="container">
<div class="card">
  <div class="card-header">
    <a id="postTitle" href="api/comments/{{id}}">{{title}}</a>
   <span>Posted by: {{user.username}} on {{format_date createdAt}}</span>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>
    </blockquote>
  </div>
</div>
</section>