{{blog-details}}
<section class="container">
<div class="card">
  <div class="card-header">
    <a id="postTitle" href="api/comments/{{id}}">{{title}}</a>
   <span>Posted by: {{user.username}} on {{format_date date}}</span>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>
    </blockquote>
  </div>
</div>
</section>

<div class="container">
<div class="card newPostCard">
      <div class="card-header">
    Comment
  </div>
 <form class="card-body commentCard">
  <div class="mb-3">
    <textarea type="input" id="commentContent" class="form-control">{{comment}}</textarea>
  </div>
    <div>
        -{{user.username}}, {{format_date created_at}}
    </div>  
 </form>
</div>
</div>